:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffff;
  background: #191919;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --a: #833ab4;
  --b: #ff2f2f;
  --c: #ffffff2c;
  --d: #4361ee;
  --e: #ffffff50;
}

textarea,
input {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  width: 500px;
  min-height: 400px;
  text-align: justify;
  resize: none;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 25px;
  font-size: 1.2rem;
  background-color: #252525;
  color: #ffffff;
}

input {
  min-height: 20px;
}

button,
a {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50px;
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.096);
  transition: all 0.06s;
}

button:hover,
a:hover {
  background-color: #ffffff34;
}

button:hover:disabled {
  background-color: #ff000069;
}

h6 {
  margin: 0;
  text-align: center;
}

.AddNote {
  width: 100%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.096);
  color: #f6f6f6;
  transition: all 0.6s;
}

.AddNote:hover {
  background-color: #ffffff34;
}

.container {
  margin-top: 20px;
  width: 100%;
  height: 65px;
  border: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.096);
  transition: all 0.6s;
}

.container:hover {
  background-color: #ffffff34
}

.title {
  width: 70%;
}

img {
  width: 32px;
  filter: invert();
}

.AddNote img {
  width: 32px;
  margin-right: 5px;
  filter: invert();
}

.NewEditNote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonContainer {
  width: 60%;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-evenly;
}

.viewBox {
  padding: 25px;
}

h1 {
  margin-top: 25px;
  margin-bottom: 50px;
}

h2 {
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

p {
  line-break: anywhere;
  text-align: justify;
}